In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
birds_df = pd.read_csv("C:\/Users/ghvi0001/Desktop/Python/practice/purple_martin.csv", parse_dates=['timestamp'])
print("There are {} different birds in the dataset.".format(birds_df["tag-local-identifier"].nunique()))
birds_df.head()

There are 11 different birds in the dataset.

            timestamp  location-long  location-lat  tag-local-identifier
0 2014-08-15 05:56:00     -88.146014     17.513049                 30448
1 2014-09-01 05:59:00     -85.243501     13.095782                 30448
2 2014-10-30 23:58:00     -62.906089     -7.852436                 30448
3 2014-11-15 04:59:00     -61.776826    -11.723898                 30448
4 2014-11-30 09:59:00     -61.241538    -11.612237                 30448

In [3]:
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
americas = world.loc[world['continent'].isin(['North America', 'South America'])]
americas.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
9,44293293,South America,Argentina,ARG,879400.0,"MULTIPOLYGON (((-68.63401 -52.63637, -68.25000..."
10,17789267,South America,Chile,CHL,436100.0,"MULTIPOLYGON (((-68.63401 -52.63637, -68.63335..."
16,10646714,North America,Haiti,HTI,19340.0,"POLYGON ((-71.71236 19.71446, -71.62487 19.169..."

In [4]:
birds = gpd.GeoDataFrame(birds_df, geometry = gpd.points_from_xy(birds_df['location-long'], birds_df['location-lat']))
birds.crs = {'init': 'epsg:4326'}

C:\Users\ghvi0001\Anaconda3\envs\lta_geo\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [ ]:
ax = americas.plot(figsize = (20,20), color = 'gainsboro', edgecolor = 'lightgrey')
birds.plot(ax=ax, color = 'blue')